@font-face {
  font-family: "shangai";
  src:url("./fonts/shangai.ttf") format("truetype")
}

body {
    margin: 0;
    background-color: lightblue;
  }
  
  #my-canvas {
    background-color: darkgray;
    justify-content: center;
    margin: 20px;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #start-btn, #restart-btn {

    background-color: rgb(179, 0, 0);
    color: whitesmoke;
    padding: 20px;
    font-size: 40px;
    font-family: "shangai";
    margin-top: 40px;
    border-radius: 10px; 
  }

  #my-canvas {
    display: none; /* no muestres este elemento en el DOM */
  }
  
  #gameover-screen {
    display: none;
  }