@font-face {
  font-family: "shangai";
  src:url("../fonts/shangai.ttf") format("truetype")
}

body {
    margin: 0;
    background-color: lightblue;
  }
  
  #my-canvas {
    background-color: darkgray;
    justify-content: center;
    margin: 20px;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #instructions {
    background-color: rgb(57, 56, 73);
    color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    font-family: "san serif";
    margin-top: 40px;
  }
  #titulo {
    font-size: 30px;
    font-family: "shangai";
  }
  #start-btn, #restart-btn, #gohome-btn {

    background-color: rgb(179, 0, 0);
    color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    font-family: "shangai";
    margin-top: 40px;
    border-radius: 10px; 
  }

  #my-canvas {
    display: none; /* no muestres este elemento en el DOM */
  }
  
  #gameover-screen {
    display: none;
  }